.container{
    margin-left: 180px;
    margin-top: 100px;
    background-color: white;
}
.big-container{
    background-color: white;
}

.container-modal{
    margin-left: 210px;
    margin-top:10px;
    margin-bottom: 30px;
}